
:root{
    background-color: black;
}


.recuadro{
    background-color: grey;
    display: block;
    text-align: center;    
}

.recuadro-juego{
    width: px;
    height: 250px;
    border: 2px solid;
    border-color: blue;
    margin: auto;
}

.input-juego{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

